# binaries
*.exe
*.cmd

# mess
*.old
*.bak

# media
*.png
*.jpg
!lost.png

# local stuff
config.ini
*.deps
notes.txt
/temp*
/.vscode
/.vs
*.code-workspace
/nimcache
/testresults
/nimblecache
/htmldocs